/* UTILITIES */

/* Display */

.block {
   display: block;
}

.inline-block {
   display: inline-block;
}

.hidden {
   /* Typical usage: EPUB 3 landmarks inline TOC */
   display: none;
}

/* May be useful for EPUB 3.1, warning .absolute in ePubCheck in EPUB 3.0.1
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
*/

/* Clearings */

.clear-both {
   /* may be useful if an element is floating in a container */
   clear: both;
}

.clear-left {
   clear: left;
}

.clear-right {
   clear: right;
}

/* Bordered content */

.p-1 {
   @computed-padding: (
      ((@body-font-size * @body-line-height) - (@border-width * 2)) /
         @body-font-size
   );
   padding: ((@computed-padding / 2) + 0em);
}

.border {
   border: ((@border-width / @body-font-size) + 0em) @border-style @border-color; /* Current color = color of text (inverted in night mode) */
   .p-1;
}

/* Margins */

.m-0 {
   margin: 0;
}

.mt-0 {
   margin-top: 0;
}

.mb-0 {
   margin-bottom: 0;
}

.ml-0 {
   margin-left: 0;
}

.mr-0 {
   margin-right: 0;
}

.mt-1 {
   margin-top: (@base-margin / 2);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-top: round(@base-margin / 2);
      }
   }
}

.mt-2 {
   margin-top: @base-margin;

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-top: round(@base-margin);
      }
   }
}

.mt-3 {
   margin-top: (@base-margin * 2);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-top: round(@base-margin * 2);
      }
   }
}

.mt-4 {
   margin-top: (@base-margin * 3);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-top: round(@base-margin * 3);
      }
   }
}

.mt-5 {
   margin-top: (@base-margin * 4);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-top: round(@base-margin * 4);
      }
   }
}

.mb-1 {
   margin-bottom: (@base-margin / 2);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-bottom: round(@base-margin / 2);
      }
   }
}

.mb-2 {
   margin-bottom: @base-margin;

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-bottom: round(@base-margin);
      }
   }
}

.mb-3 {
   margin-bottom: (@base-margin * 2);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-bottom: round(@base-margin * 2);
      }
   }
}

.mb-4 {
   margin-bottom: (@base-margin * 3);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-bottom: round(@base-margin * 3);
      }
   }
}

.mb-5 {
   margin-bottom: (@base-margin * 4);

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-bottom: round(@base-margin * 4);
      }
   }
}

.ml-1 {
   margin-left: (@step / 2); /* % won't reflow with font-size user setting */
}

.ml-2 {
   margin-left: @step;
}

.ml-3 {
   margin-left: (@step * 1.5);
}

.ml-4 {
   margin-left: (@step * 2);
}

.ml-5 {
   margin-left: (@step * 3);
}

.mr-1 {
   margin-right: (@step / 2); /* % won't reflow with font-size user setting */
}

.mr-2 {
   margin-right: @step;
}

.mr-3 {
   margin-right: (@step * 1.5);
}

.mr-4 {
   margin-right: (@step * 2);
}

.mr-5 {
   margin-right: (@step * 3);
}

/* Font-stacks */

.font-sans {
   /* Typical usage: headings */
   font-family: @sans-serif;
}

.font-serif {
   font-family: @serif;
}

.font-mono {
   font-family: @monospace;
}

.has-humanist-font-family {
   font-family: @humanist;
}

.has-geometric-font-family {
   font-family: @geometric;
}

.has-cardo-font-family {
   font-family: @oldstyle;
}

.has-inter-font-family {
   font-family: @inter;
}

.has-modern-font-family {
   font-family: @modern;
}

/* Text align */

.has-text-align-justify {
   /* Designed as a class for body — We don't enforce as user setting > author */
   text-align: justify;
   .hyphens-auto;
}

.has-text-align-left {
   text-align: left;
}

.has-text-align-center {
   text-indent: 0; /* Necessary as RS may define text-indent for p */
   text-align: center;
}

.has-text-align-right {
   text-indent: 0; /* Necessary as RS may define text-indent for p */
   text-align: right;
}

p.has-text-align-justify {
   .indent-1;
}

/* Indents */

.indent-1 {
   text-indent: @base-fs;
}

.indent-0 {
   text-indent: 0;
}

.indent-hanging {
   text-indent: -@step;
   margin-left: @step; /* Since em will reflow with font-size user setting, we’re using % */

   & when (@handle-kindle) {
      @media @mobi7 {
         margin-left: 0; /* hack for negative text-indent */
      }
   }
}

/* Font sizes */

.has-small-font-size {
   font-size: 0.8125em;
}

.has-medium-font-size {
   font-size: 1.25em;
}

.has-large-font-size {
   font-size: 2.25em;
}

.has-x-large-font-size {
   font-size: 2.625em;
}

/* Font styles */

.font-thin {
   font-weight: 100;
}
.font-extralight {
   font-weight: 200;
}
.font-light {
   font-weight: 300;
}
.font-normal {
   font-weight: 400;
}
.font-medium {
   font-weight: 500;
}
.font-semibold {
   font-weight: 600;
}
.font-bold {
   font-weight: 700;
}
.font-extrabold {
   font-weight: 800;
}
.font-black {
   font-weight: 900;
}

/* Don't use that with span if i, cite, dfn or em can be used */
.italic {
   font-style: italic;
}

.caps-to-small-caps {
   text-transform: lowercase; /* Don't rely on this property, text should be typed in uppercase (legacy RMSDK) */
   .small-caps;

   & when (@handle-kindle) {
      @media @mobi7 {
         font-size: small;
      }
   }
}

.underline {
   text-decoration: underline;
}

.line-through {
   text-decoration: line-through;
}

/* Misc */

.list-none {
   /* Typical usage: hiding numbers in toc */
   list-style-type: none;
}
