// EPUB3 Utilities

// Layout

.has-drop-cap() {
   /* Can’t be used as a class, you must use :first-letter */
   margin: 1em 0.25em 0 0; /* iOS 9 fix */
   .initial-letter();
}

.flex {
   display: -webkit-flex;
   display: flex;
}

.flex-col {
   -ms-flex-direction: column;
   -webkit-flex-direction: column;
   flex-direction: column;
}

.flex-wrap {
   -ms-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}

.justify-start {
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

.justify-center {
   -webkit-justify-content: center;
   justify-content: center;
}

.justify-end {
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.justify-between {
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.justify-around {
   -webkit-justify-content: space-around;
   justify-content: space-around;
}

.rounded {
   border-radius: 100%;
   overflow: hidden;
}

// Vertical align

.valign-center {
   min-height: 95vh;
   .flex;
   .flex-col;
   .justify-center;
   .break-inside-avoid;
}

.valign-bottom {
   min-height: 95vh;
   .flex;
   .flex-col;
   .justify-end;
   .break-inside-avoid;
}

.valign-between {
   min-height: 95vh;
   .flex;
   .flex-col;
   .justify-between;
}

.valign-around {
   min-height: 95vh;
   .flex;
   .flex-col;
   .justify-around;
}

// Object sizing

.object-contain {
   object-fit: contain;
}

.object-fill {
   object-fit: fill;
}

.object-cover {
   object-fit: cover;
}

.object-none {
   object-fit: none;
}

.object-scale-down {
   object-fit: scale-down;
}

.bg-contain {
   background-size: contain;
}

.bg-cover {
   background-size: cover;
}

// OTF

.kern {
   font-kerning: normal;
}

.no-kern {
   font-kerning: none;
}

.common-ligatures {
   -webkit-font-variant-ligatures: common-ligatures;
   font-variant-ligatures: common-ligatures;
}

.discretionary-ligatures {
   -webkit-font-variant-ligatures: discretionary-ligatures;
   font-variant-ligatures: discretionary-ligatures;
}

.no-common-ligatures {
   -webkit-font-variant-ligatures: no-common-ligatures;
   font-variant-ligatures: no-common-ligatures;
}

.small-caps {
   font-variant-caps: small-caps;
   letter-spacing: ((1 / @body-font-size) + 0em);
   /* The two previous props are not supported in legacy RMSDK */
}

.all-small-caps {
   font-variant-caps: all-small-caps;
}

.titling-caps {
   font-variant-caps: titling-caps;
}

.contextual {
   -webkit-font-variant-ligatures: contextual;
   font-variant-ligatures: contextual;
}

.lining-nums {
   font-variant-numeric: lining-nums;
}

.proportional-nums {
   font-variant-numeric: proportional-nums;
}

.oldstyle-nums {
   font-variant-numeric: oldstyle-nums;
}

.tabular-nums {
   font-variant-numeric: tabular-nums;
}

.slashed-zero {
   font-variant-numeric: slashed-zero;
}

.diagonal-fractions {
   font-variant-numeric: diagonal-fractions;
}

.stacked-fractions {
   font-variant-numeric: stacked-fractions;
}

.ordinal {
   font-variant-numeric: ordinal;
}

.sup {
   font-variant-position: super;
}

.sub {
   font-variant-position: sub;
}
