/* FIGURES + IMAGES  */

figure {
   .break-inside-avoid;
   margin: @base-margin 0;
}

figcaption,
.wp-element-caption {
   .has-small-font-size;
   .indent-0;
}

img {
   width: auto;
   max-width: 100%; /* Note: KF8 doesn't support max-width hence "width: auto;" as fallback */
   height: auto;
   .object-contain;
   vertical-align: bottom; /* Remove gap after the image */
}

/* Note: portrait image styling + figcaption is a nightmare */
/* See https://github.com/jstallent/ImagesSingleFile for the css hack */
figure.is-style-portrait img {
   width: auto;
   max-width: 100%; /* Note: KF8 doesn't support max-width hence "width: auto;" as fallback */
   height: 100%; /* We try to prevent blank page after */
   max-height: 95%; /* Max value iBooks enforces */
}

.alignleft img,
.alignright img {
   width: 100%; /* If it’s auto, image in floating container will overflow on Kobo iOS + Kindle */
}

@supports (height: 99vh) {
   figure.is-style-portrait img {
      height: 99vh;
   }
}

svg {
   width: auto;
   max-width: 100%;
   height: auto;
   .object-contain;
}
